.barchart {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 15px;
  background-color: #f7f9fb;
  border-radius: 8px;
}

.barchart__chart {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  font-size: 18px;
  font-weight: 500;
}
